@font-face {
    font-family: 'Pink Highway Bold1';
    src: url('PinkHighwayBold1.ttf');
  }
.container{
    display: grid;
    max-width: 1000px;
    height: 600px;
    margin: 0;
    grid-template-columns: 200px 40px 80px 200px 200px 30px 97px 153px;
    grid-template-rows: 100px 250px 40px 100px 100px 50px;
}
.grid-item1{
background-color: rgb(216,209,183);
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid-item2{
    background-color: rgb(216,209,183);
   grid-column-start: 3;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 2;
  width: 480px;
  height: 100px;}
.grid-item3{
    background-color: rgb(216,209,183);
   grid-column-start: 6;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 2;
   height: 100px;
   margin: 0px;
   font-family: serif;
   font-size: 40px;
   text-align: center;
}
.grid-item4{
    background-color: #000;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
   margin: 0px;
   color:#ffffff;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 70px;
   text-align: center;
}
.grid-item5{
    background-color: rgb(216,209,183);
   grid-column-start: 4;
   grid-column-end: 7;
   grid-row-start: 2;
   grid-row-end: 3;
   margin: 0px;
   font-family: fantasy;
   font-size: 44px;
}
.grid-item6{
    background-color: rgb(216,209,183);
   grid-column-start: 7;
   grid-column-end: 9;
   grid-row-start: 2;
   grid-row-end: 4;
   margin: 0px;
   text-align: justify;
}
.grid-item7{
    background-color: rgb(216,209,183);
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 7;
   margin: 0px;
}
.grid-item8{
    background-color: rgb(216,209,183);
   grid-column-start: 2;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 6;
   margin: 0px;
}
.grid-item9{
    background-color: rgb(216,209,183);
   grid-column-start: 5;
   grid-column-end: 7;
   grid-row-start: 3;
   grid-row-end: 5;
   margin: 0px;
}
.grid-item10{
    background-color: rgb(216,209,183);
   grid-column-start: 7;
   grid-column-end: 9;
   grid-row-start: 3;
   grid-row-end: 5;
   margin: 0px;
}
.grid-item11{
    background-color: rgb(216,209,183);
   grid-column-start: 5;
   grid-column-end: 9;
   grid-row-start: 5;
   grid-row-end: 6;
   margin: 0px;
}
.grid-item12{
    background-color: rgb(216,209,183);
   grid-column-start: 2;
   grid-column-end: 8;
   grid-row-start: 6;
   grid-row-end: 7;
   margin: 0px;
}
.grid-item13{
    background-color: rgb(216,209,183);
   grid-column-start: 8;
   grid-column-end: 9;
   grid-row-start: 6;
   grid-row-end: 7;
   margin: 0px;
}
.kep1{
float: right;
height: 100px;
}
.kep2{
    float: right;
    width: 200px;
}
.kep3{
    float: left;
    height: 40px;
}
.sapka{
 float: left;
 height: 40px;
}
.kep4{
    width: 320px;
    height: 240px;
}
.kep5{
    width: 200px;
    height: 140px;
}
.kep6{
    height: 100px;
    float: left;
}
.kep7{
    height: 50px;
    float: left;
    width: 550px;
}
.kep8{
    height: 50px;
    float: inline-start;
    margin:0px
}
.naptar{
    width: 200px;
}
.end{
    margin: 0px;
    text-align:left;
}
.kepf{
    height: 30px;
    float: left;
}